.body{
	
}

h1{
	font-size : 60px;
	color : white;
}

.nav-bar{
	padding-left : 20px;
	padding-right : 20px;
	height : 10%;
	background : black;
	display : flex;
    align-items: center;
    justify-content: space-between;
}

.formContainer{
	background: linear-gradient(45deg,#0CCDA3,#C1FCD3);
	display : flex;
	flex-direction: column;
	justify-content : center;
	align-items : center;
	height : 90vh;
}

.tableDetail{
	padding : 20px;
	background-color : #ffffff;
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items : center;
	text-align : center;
	width : 300px;
	height : 300px;
	border-radius : 40px;
	box-shadow : 5px 5px 5px #666,inset -2px -2px 10px rgba(0, 0, 0, 0.5);
}

.selectors{
	width : 200px;
	height : 100px;
	border-radius : 10px;
}

label{
	color : #0CCDA3 ;
	font-size : 20px;
	font-family : sans-serif;
}

.submit-btn{
	color : white;
	width : 150px;
	font-size : 20px;
	margin-top : 40px;
	background : #0CCDA3;
}

.index-btn{
	padding: 10px 15px;
    background-color: #ffffff;
    color: #0CCDA3;
    border: none;
    width : 150px;
    height : 70px;
    border-radius: 35px;
    font-size: 25px;
    box-shadow : 5px 5px 5px #666,inset -2px -2px 10px rgba(0, 0, 0, 0.5);
   /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), 
              -2px -2px 10px rgba(255, 255, 255, 0.3);*/
}


.index-btn:hover{
	  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3), 
              inset -2px -2px 10px rgba(255, 255, 255, 0.3);
}

.logout-btn{
	padding: 10px 15px;
    background-color : #0CCDA3;
    color: white;
    border: none;
    width : 150px;
    height : 50px;
    border-radius: 25px;
    font-size: 15px;
}

.logout-btn:hover{
	  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3), 
              inset -2px -2px 10px rgba(255, 255, 255, 0.3);
}







